.heading {
  cursor: pointer;
}

.heading:hover .icon {
  opacity: 1;
}

.icon {
  opacity: 0;
  font-size: 0.6em;
  color: var(--gray-700);
  margin-left: 6px;
  vertical-align: baseline;
  transition: opacity 150ms;
}
