.hoverButton {
  background-color: white !important;
  color: black !important;
  transition: all 0.3s ease !important;

  &:hover {
    background-color: black !important;
    color: white !important;
  }
}